{% extends "layout.html" %}
{% block content %}

    <div class="media-body">
      <div class="article-metadata">
          <div class='text-right'>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_customer', customer_id=customer.id) }}">Zmień</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Usuń</button>
          </div>
      </div>
      <h2 class="article-title"></h2>
      <h2 class="article-content"></h2>
      <h2 class="article-content"></h2>
      <h2 class="article-content"></h2>
      <h2 class="article-content"></h2>
      <h2 class="article-content"></h2>
    </div>


  <table class="table">
  <tbody>
    <tr>
      <th>{{ customer.details }}</th>
      <td></td>
    </tr>
    <tr>
      <th>Całkowity stan konta</th>
      <td>{{ debt }}</td>
    </tr>
    <tr>
      <th>Poprzedni miesiąc {{ lm_month }}    {{ lm_year }}</th>
      <td>{{lm_debt}}</td>
    </tr>
  </tbody>
</table>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Usunąć klienta?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_customer', customer_id=customer.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
