{% extends "layout.html" %}
{% block content %}
    <div class="text-right">
      <a class="btn btn-primary " href="{{ url_for('customers.add_customer') }}" role="button">Dodaj nowego klienta</a>
    </div>
    <div class="text-left">
      <h4>Lista klientów</h4>
    </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
        <div class="form-group">

            {% if form.details.errors %}
                {{ form.details(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.details.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.details(class="form-control form-control-lg") }}
            {% endif %}
       </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Opis klienta</th>
      <th scope="col">Stan konta</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
  {% for customer in customers.items %}
  <tr>
    <td> {{ customer.details}} </td>
    <td> {{ customer.debt}} </td>
    <td>
       <a class="btn btn-xs btn-info" href="{{url_for('interactions.customer_interactions', customer_id=customer.id)}}"role="button">Transakcje</a>
       <a class="btn btn-xs btn-info" href="{{url_for('customers.customer', customer_id=customer.id)}}" role="button">Detale</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% for page_num in customers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num %}
        {% if customers.page == page_num %}
           <a  class="btn btn-info mb-4 " href="{{ url_for('customers.customers', page=page_num)}}">{{ page_num }} </a>
        {% else %}
           <a  class="btn btn-outline-info mb-4 " href="{{ url_for('customers.customers', page=page_num)}}">{{ page_num }} </a>
        {% endif %}
     {% else %}
        ...
     {% endif %}
  {% endfor %}



{% endblock content %}
